.colors {
    display: flex;
    flex-wrap: wrap;
}

.color {
    flex: 1 0 4%;
    display: block;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.slider {
    width: 100%;
}