.Circle .background {
    fill: #fff;
}

.Circle text {
    cursor: pointer;
}

.NOCircle .background {
    fill: #fff;
}

.Circle polygon, .Circle path.shape, .Circle .origin, .Circle text {
    transition: all .1s linear;
}

.Circle path.ordered {
    transition: all .2s linear;
}

.Circle path.interconnections {
    opacity: 0.1;
}

/* 
@keyframes dashdraw {
    to {
        stroke-dashoffset: 40
    }
} */

.Circle text {
    fill: #3a3a3a
}

.Circle text.active {
    fill: #c0c0c0;
}

.Circle .blue {
    fill: #65c3de;
    stroke: #4a8ea2;
}

.Circle .background {
    fill: white;
    stroke: #c0c0c0;
}

.Circle .skeleton {
    stroke: #3a3a3a;
    stroke-dasharray: 1;
    opacity: 0.7;
}