.piano-key {
  stroke: #3b3636;
  fill: #fff;
  cursor: pointer;
  transition: all .2s linear;
}

.piano-key.black {
  stroke: #3b3636;
  fill: #000;
}

.piano-key.active {
  fill: #d7ffc1;
}

.piano-key.black.active {
  fill: #d7ffc1;
}

.piano-key.white.tonic {
  fill: #58ad3e;
}

.piano-key.black.tonic {
  fill: #58ad3e;
}