/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */

body {
    /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Montserrat", sans-serif; */
    color: black;
}

h1.big {
    font-size: 8rem;
}

h6 {
    margin: 0;
}

table>thead>tr {
    font-weight: bold;
}

ul>li {
    list-style-type: none;
    margin: 0;
}

li button.button-clear {
    padding: 0 0.25rem;
    margin: 0 0.25rem;
}

li>strong, li>span {
    margin-right: 1rem;
}

.Header {
    height: 50px;
}

.Header .Navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    background-color: black;
    color: white;
}

.Header .Navigation a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.randomizer {
    display: flex;
}

.options li {
    display: block !important;
}

.option-container {
    min-width: 60px;
}

.randomizer {
    overflow: auto;
}

.App {
    position: relative;
    overflow: auto;
    height: 100vh;
    padding: 0;
    margin: 0;
}