body {
    margin: 0 !important;
    background: #eee;
}

ul {
    padding: 0;
    /* border-top: 1px solid #ccc; */
}

li {
    list-style: none;
    display: inline-block;
    min-width: 60px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10%;
    transition: background .2s linear;
    box-sizing: border-box;
}

.explorer {
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.symbols {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: auto;
    max-height: 100%;
    background-color: #fff;
    width: 100%;
}

.Circle {
    width: 100%;
}

.score {
    width: 100%;
    text-align: center;
    position: relative;
}

h5 {
    margin: 0;
}

ul {
    margin: 5px 0;
}

ul.scroll {
    height: 40px;
    white-space: nowrap;
    overflow: auto;
}

li:hover {
    background: #d7ffc1;
}

li.active {
    background: #58ad3e;
}

li.sub {
    background: #d7ffc1;
}

li.super {
    background: #ccc;
}

li.parallel {
    border: 1px solid #58ad3e;
}

canvas {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}