ul {
    padding: 0;
    /* border-top: 1px solid #ccc; */
}

.explorer li {
    list-style: none;
    display: inline-block;
    min-width: 60px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    transition: background .2s linear;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.action-buttons {
    float: right;
}

.symbols {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #fafafa;
    border-radius: 10px;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: auto;
    max-height: 100%;
    background-color: #fff;
    width: 100%;
}

.Circle {
    width: 100%;
}

h5 {
    margin: 0;
}

ul {
    margin: 5px 0;
}

ul.scroll {
    height: 40px;
    white-space: nowrap;
    overflow: auto;
}

li:hover {
    text-decoration: underline;
}

/* li.active {
    background: #58ad3e;
}

li.sub {
    background: #d7ffc1;
}

li.super {
    background: #eee;
}

li.parallel {
    border: 1px solid #58ad3e;
} */

canvas, .Piano {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.score {
    width: 100%;
    margin: auto;
    max-width: 500px;
    position: relative;
}